<nav class="navbar navbar-expand-lg navbar-light bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/">Mon Projet - Verbes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signup">Inscription</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/conjugate">
            <i class="bi bi-journal-text"></i> Conjuguer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/favoris">
            <i class="bi bi-heart"></i> Favoris
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/random">
            <i class="bi bi-shuffle"></i> Verbes Aléatoires
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/verbs">
            <i class="bi bi-list"></i> Détails des Verbes
          </a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger ms-3" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
